/*
  * -------------------------------------------------
  *  Nextflow config file with environment modules for CAMP @ The Crick
  * -------------------------------------------------
  */

process {

  // Global process config
  executor = 'slurm'

  // Use/unuse appropriate module paths and purge modules
  beforeScript = { "source $baseDir/conf/crick-modulepath.sh && module purge" }

  // Environment modules and resource requirements
  $prep_genome.module = ['SAMtools/1.8-foss-2016b','BEDTools/2.27.1-foss-2016b']
  $raw_fastqc.module = ['FastQC/0.11.7-Java-1.8.0_172']
  $raw_fastqscreen.module = ['FastQ_Screen/0.11.4-foss-2018a-Perl-5.26.1']
  $cutadapt.module = ['cutadapt/1.16-Python-2.7.14-foss-2018a']
  $trim_fastqc.module = ['FastQC/0.11.7-Java-1.8.0_172']
  $bwa_aln_r1.module = ['BWA/0.7.17-foss-2018a']
  $bwa_aln_r2.module = ['BWA/0.7.17-foss-2018a']
  $bwa_sampe.module = ['BWA/0.7.17-foss-2018a']
  $bwa_bam.module = ['SAMtools/1.8-foss-2016b']
  $markdup.module = ['picard/2.18.11-Java-1.8.0_172','SAMtools/1.8-foss-2016b']
  $markdup_collectmetrics.module = ['picard/2.18.11-Java-1.8.0_172','R/3.5.1-foss-2016b-BABS']
  $filter_bam.module = ['BamTools/2.5.1-foss-2018a','SAMtools/1.8-foss-2016b']
  $rm_orphan.module = ['Pysam/0.14.1-Python-2.7.15-foss-2018a']
  $rm_orphan_sort_bam.module = ['SAMtools/1.8-foss-2016b']
  $merge_replicate.module = ['picard/2.18.11-Java-1.8.0_172','SAMtools/1.8-foss-2016b']
  $merge_replicate_markdup.module = ['picard/2.18.11-Java-1.8.0_172','SAMtools/1.8-foss-2016b']
  $merge_replicate_rmdup.module = ['SAMtools/1.8-foss-2016b']
  $merge_replicate_name_bam.module = ['SAMtools/1.8-foss-2016b']
  $merge_replicate_bedgraph.module = ['BEDTools/2.27.1-foss-2016b']
  $merge_replicate_bigwig.module = ['Kent_tools/20161115-linux.x86_64']
  $merge_replicate_macs2.module = ['MACS2/2.1.1.20160309-foss-2016b-Python-2.7.12']
  $merge_replicate_macs2_homer.module = ['Homer/4.10-Perl-5.26.1-foss-2018a']
  $merge_replicate_macs2_frip.module = ['BEDTools/2.27.1-foss-2016b']
  $merge_replicate_macs2_qc.module = ['R/3.5.1-foss-2016b-BABS']
  $merge_replicate_macs2_merge_peaks.module = ['Python/2.7.15-foss-2018a','BEDTools/2.27.1-foss-2016b']
  $merge_replicate_macs2_merge_peaks_intersect_plot.module = ['R/3.5.1-foss-2016b-BABS']
  $merge_replicate_macs2_merge_peaks_homer.module = ['Homer/4.10-Perl-5.26.1-foss-2018a']
  $merge_replicate_macs2_merge_peaks_featurecounts.module = ['Subread/1.6.2']
  $merge_replicate_macs2_merge_peaks_differential.module = ['R/3.5.1-foss-2016b-BABS']
  $merge_sample.module = ['picard/2.18.11-Java-1.8.0_172','SAMtools/1.8-foss-2016b']
  $merge_sample_markdup.module = ['picard/2.18.11-Java-1.8.0_172','SAMtools/1.8-foss-2016b']
  $merge_sample_rmdup.module = ['SAMtools/1.8-foss-2016b']
  $merge_sample_bedgraph.module = ['BEDTools/2.27.1-foss-2016b']
  $merge_sample_bigwig.module = ['Kent_tools/20161115-linux.x86_64']
  $merge_sample_macs2.module = ['MACS2/2.1.1.20160309-foss-2016b-Python-2.7.12']
  $merge_sample_macs2_homer.module = ['Homer/4.10-Perl-5.26.1-foss-2018a']
  $merge_sample_macs2_frip.module = ['BEDTools/2.27.1-foss-2016b']
  $merge_sample_macs2_qc.module = ['R/3.5.1-foss-2016b-BABS']
  $merge_sample_macs2_merge_peaks.module = ['Python/2.7.15-foss-2018a','BEDTools/2.27.1-foss-2016b']
  $merge_sample_macs2_merge_peaks_intersect_plot.module = ['R/3.5.1-foss-2016b-BABS']
  $merge_sample_macs2_merge_peaks_homer.module = ['Homer/4.10-Perl-5.26.1-foss-2018a']
  $merge_sample_macs2_merge_peaks_featurecounts.module = ['Subread/1.6.2']
  $merge_sample_macs2_merge_peaks_differential.module = ['R/3.5.1-foss-2016b-BABS']
  $igv_session.module = ['Python/2.7.15-foss-2018a']
  $multiqc.module = ['MultiQC/1.5-Python-2.7.15-foss-2018a']
  $qc_to_tsv.module = ['Python/2.7.15-foss-2018a']

  $get_software_versions.module = [
    'SAMtools/1.8-foss-2016b',
    'BEDTools/2.27.1-foss-2016b',
    'FastQC/0.11.7-Java-1.8.0_172',
    'FastQ_Screen/0.11.4-foss-2018a-Perl-5.26.1',
    'cutadapt/1.16-Python-2.7.14-foss-2018a',
    'BWA/0.7.17-foss-2018a',
    'picard/2.18.11-Java-1.8.0_172',
    'R/3.5.1-foss-2016b-BABS',
    'BamTools/2.5.1-foss-2018a',
    'Pysam/0.14.1-Python-2.7.15-foss-2018a',
    'Kent_tools/20161115-linux.x86_64',
    'MACS2/2.1.1.20160309-foss-2016b-Python-2.7.12',
    'Homer/4.10-Perl-5.26.1-foss-2018a',
    'Python/2.7.15-foss-2018a',
    'Subread/1.6.2',
    'MultiQC/1.5-Python-2.7.15-foss-2018a'
  ]

}

params {
  saveReference = true
  // Max resources requested by a normal node on milou. If you need more memory, run on a fat node using:
  //   --clusterOptions "-C mem512GB" --max_memory "512GB"
  max_memory = 128.GB
  max_cpus = 16
  max_time = 72.h
  // illumina iGenomes reference file paths on CAMP @ The Francis Crick Institute
  igenomes_base = '/camp/svc/reference/Genomics/iGenomes/'
}
