/*
  * -------------------------------------------------
  *  Nextflow config file for CAMP @ The Crick
  * -------------------------------------------------
  */

singularity {
  enabled = true
}

process {
  beforeScript = 'module purge && module load Singularity/2.6.0-foss-2016b'
  executor = 'slurm'
}

params {
  max_memory = 224.GB
  max_cpus = 32
  max_time = 72.h

  igenomes_base = '/camp/svc/reference/Genomics/iGenomes'
}
