/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/atacseq -profile test
 */

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 12.h

  // Input data
  design = 'https://github.com/nf-core/test-datasets/raw/atacseq/design.csv'

  // Genome references - use existing files from nf-core/chipseq
  fasta = 'https://github.com/nf-core/test-datasets/raw/chipseq/reference/genome.fa'
  gtf = 'https://github.com/nf-core/test-datasets/raw/chipseq/reference/genome.gtf'

  // Not mandatory but permits the pipeline to run through peak-calling steps
  macs_gsize = 1.2e7
}
